/* null margins and padding to give good cross-browser baseline */
html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
dl,
dt,
dd,
table,
tr,
td,
th,
p,
img
{
  margin: 0;
  padding: 0;
}

img,
fieldset
{
  border: none;
}

hr
{
  display: none;
  /*
		HR in my code are for semantic breaks in topic/section, NOT
		style/presenation, so hide them from screen.css users
	*/
}

@media (max-width: 480px)
{
  /*
		Some older small screen devices will try to force a text-size
		adjustment regardless of our viewport meta, this overrides that
		so it obeys what we tell it. This is in a max-width query so that
		we don't send this to desktop safari, as it breaks zooming there...
		Even though it does NOT break zooming in mobile Safari?
		
		Way to herpa that derp there Apple!
	*/
  *
  {
    -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
  }
}

body
{
  background: #FFFFFF; /* remember some browsers default different */
  color: #002244;
  font: normal 100%/150% arial,helvetica,sans-serif;
}

#top
{
  padding: 1em;
}

h1
{
  float: left;
  font: bold 200%/120% arial,helvetica,sans-serif;
}

h1 a
{
  color: #000000;
  text-decoration: none;
}

h1 a span
{
  color: #DD6600;
}

#mainMenu
{
  list-style: none;
  text-align: right;
}

#mainMenu li
{
  display: inline;
}

#mainMenu a,
#mainMenu button
{
  color: #000000;
  display: inline-block;
  font: bold 150%/160% arial,helvetica,sans-serif;
  margin-left: 0.5em;
  text-decoration: none;
  transition: color 0.3s;
  vertical-align: top;
}

#mainMenu a:active,
#mainMenu a:focus,
#mainMenu a:hover
{
  color: #0088EE;
}

.label_darkMode,
.label_darkMode i
{
  display: block;
  position: relative;
}

.label_darkMode i
{
  height: 2em;
  margin: -0.25em;
  overflow: hidden;
  width: 2em;
}

.label_darkMode i:after,
.label_darkMode i:before
{
  font-size: 1.5em;
  font-style: normal;
  left: 50%;
  line-height: 1em;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: top 0.5s;
}

.label_darkMode i:before
{
  color: var(--darkModeToggle-darkIcon-color);
  text-shadow: var(--darkModeToggle-darkIcon-shadow);
  top: var(--darkModeToggle-hide);
}

.label_darkMode i:after
{
  color: var(--darkModeToggle-lightIcon-color);
  text-shadow: var(--darkModeToggle-lightIcon-shadow);
  top: var(--darkModeToggle-show);
}

.label_darkMode> span
{
  background: var(--tooltip-background);
  border-radius: var(--tooltip-border-radius);
  box-shadow: var(--tooltip-shadow);
  color: var(--tooltip-color);
  font-size: 0.875em;
  padding: 0.5em 0.9em 0.5em 1em;
  position: absolute;
  right: 300vw;
  top: -999em;
  white-space: nowrap;
}

.label_darkMode:hover> span
{
  right: -0.5em;
  top: 4em;
}

.label_darkMode> span:before
{
  background: var(--tooltip-background);
  border-color: var(--tooltip-arrow-border);
}

.label_darkMode:hover> span:before
{
  border-style: solid;
  border-width: 1px 0 0 1px;
  content: "";
  height: 1em;
  position: absolute;
  right: 0.75em;
  top: -0.57em;
  transform: scaleY(1.1) rotate(45deg);
  width: 1em;
}

.label_darkMode> span> span:first-of-type,
.label_darkMode> span> span:first-of-type> span
{
  display: none;
}

.label_darkMode> span> span:first-of-type
{
  display: var(--darkModeToggle-lightText-display);
}

.label_darkMode> span> span:last-of-type
{
  display: var(--darkModeToggle-darkText-display);
}

.label_darkMode i:after,
.label_darkMode i:before,
.modalClose:after,
.mainMenuOpen
{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.label_darkMode i:after
{
  animation: sun 10s linear infinite;
  content: "\F185";
}

@keyframes sun
{
  0%
  {
    transform: translate(-50%,-50%) rotate(0deg);
  }

  100%
  {
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

.label_darkMode i:before
{
  content: "\F186";
}

.modal section .modalClose:after
{
  content: "\F00D";
}

.widthConstraint
{
  margin: 0 auto;
  max-width: 68em;
  padding: 0 1em;
}

p
{
  padding-bottom: 1em;
}

h2
{
  font: bold 400%/120% arial,helvetica,sans-serif;
  margin-bottom: 0.5em;
  text-align: center;
}

#fiveStars,
.featureSection,
#readyToLaunch
{
  margin-bottom: 2em;
}

#fiveStars,
.featureSection p,
#readyToLaunch
{
  color: #FFFFFF;
  text-shadow: -2px 0 6px #002244,
  2px 0 6px #002244;
}

#fiveStars,
.featureSection div div,
#readyToLaunch
{
  background: #0088EE; /* that cyan was too light to meet WCAG minimums! */
}

.featureSection div div
{
  box-shadow: 0 3px 7px 2px rgba(0,0,0,0.5);
}

#fiveStars
{
  padding-top: 1em;
}

#fiveStars .widthConstraint
{
  align-items: center;
  display: grid;
  grid-template-columns: 30em auto;
}

#fiveStars h2
{
  font: bold 200%/120% arial,helvetica,sans-serif;
  margin: 0 1em 0.5em 0;
  max-width: 30em;
}

@media (min-width:1px)
{
  /* sneaky trick to target just modern browsers */
  #fiveStars h2
  {
    background: url(images/fiveStarsOpt.png) top center no-repeat;
    background-size: contain;
    padding-top: 3em;
  }
}

#fiveStars p
{
  font: normal 150%/150% arial,helvetica,sans-serif;
}

.featureSection .widthConstraint
{
  display: grid;
  grid-column-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.featureSection h3
{
  background: #000000;
  color: #FFFFFF;
  font: bold 150%/120% arial,helvetica,sans-serif;
  margin-bottom: 0.66em;
  padding: 1.6em 1em;
}

.featureSection h3.twoWords
{
  padding: 1em;
}

.featureSection p
{
  padding: 0 1em 1em;
}

#readyToLaunch
{
  padding: 1em;
  text-align: center;
}

#readyToLaunch .widthConstraint
{
  display: grid;
  grid-column-gap: 3em;
  grid-template-columns: 256px auto;
}

#readyToLaunch .widthConstraint:before
{
  background: url(images/freeTrial.png) center left no-repeat;
  content: "";
  float: left;
  height: 100%;
  width: 256px;
}

#readyToLaunch h2
{
  font: bold 150%/120% arial,helvetica,sans-serif;
  padding: 0.66em 0;
}

@media (max-width:68em)
{
  .featureSection .widthConstraint
  {
    grid-column-gap: 1em;
  }

  #fiveStars p
  {
    font-size: 125%;
  }
}

@media (max-width:52em)
{
  h1,
  #mainMenu
  {
    float: none;
    text-align: center;
  }

  h2
  {
    font-size: 200%;
    padding-bottom: 0.5em;
  }

  #fiveStars .widthConstraint,
  .featureSection .widthConstraint
  {
    grid-template-columns: none;
    text-align: center;
  }

  #fiveStars h2
  {
    margin: 0 auto;
  }

  .featureSection h3
  {
    font-size: 125%;
    margin-bottom: 0.4em;
    padding: 0.8em;
  }

  .featureSection h3 br
  {
    display: none;
  }

  .featureSection div div
  {
    margin-bottom: 1em;
    text-align: left;
  }

  #readyToLaunch .widthConstraint
  {
    grid-template-columns: none;
  }

  #readyToLaunch .widthConstraint:before
  {
    display: none;
  }
}

@media (max-width:32em)
{
  body
  {
    font-size: 85%;
  }

  h1
  {
    font-size: 150%;
  }

  #mainMenu a
  {
    font-size: 125%;
  }

  .widthConstraint
  {
    padding: 0;
  }

  .featureSection h3
  {
    padding: 0.8em 0.4em;
  }

  .featureSection p
  {
    padding: 0 0.5em 1em;
  }
}
