/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div,
form,fieldset,caption,
h1,h2,h3,h4,h5,h6,
hr,ul,li,ol,ul,dl,dt,dd,
table,tr,td,th,p,img {
	margin:0;
	padding:0;
}

img, fieldset {
	border:none;
}

hr {
	display:none;
	/*
		HR in my code are for semantic breaks in topic/section, NOT
		style/presenation, so hide them from screen.css users
	*/
}

@media (max-width:480px) {
	/*
		Some older small screen devices will try to force a text-size
		adjustment regardless of our viewport meta, this overrides that
		so it obeys what we tell it. This is in a max-width query so that
		we don't send this to desktop safari, as it breaks zooming there...
		Even though it does NOT break zooming in mobile Safari?
		
		Way to herpa that derp there Apple!
	*/
	* {
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none;
	}
}

body {
	font:normal 100%/150% arial,helvetica,sans-serif;
	background:#FFF; /* remember some browsers default different */
	color:#024;
}

#top {
	padding:1em;
}

h1 {
	float:left;
	font:bold 200%/120% arial,helvetica,sans-serif;
}

h1 a {
	text-decoration:none;
	color:#000;
}

h1 a span {
	color:#D60;
}

#mainMenu {
	list-style:none;
	text-align:right;
}

#mainMenu li {
	display:inline;
}

#mainMenu a {
	display:inline-block;
	vertical-align:top;
	margin-left:0.5em;
	text-decoration:none;
	font:bold 150%/160% arial,helvetica,sans-serif;
	color:#000;
	transition:color 0.3s;
}

#mainMenu a:active,
#mainMenu a:focus,
#mainMenu a:hover {
	color:#08E;
}

.widthConstraint {
	max-width:68em;
	padding:0 1em;
	margin:0 auto;
}

p {
	padding-bottom:1em;
}

h2 {
	margin-bottom:0.5em;
	text-align:center;
	font:bold 400%/120% arial,helvetica,sans-serif;
}

#fiveStars,
.featureSection,
#readyToLaunch {
	margin-bottom:2em;
}

#fiveStars,
.featureSection p,
#readyToLaunch {
	color:#FFF;
	text-shadow:
		-2px 0 6px #024,
		2px 0 6px #024;
}

#fiveStars,
.featureSection div div,
#readyToLaunch {
	background:#08E; /* that cyan was too light to meet WCAG minimums! */
}

.featureSection div div {
	box-shadow:
		0 3px 7px 2px rgba(0,0,0,0.5);
}

#fiveStars {
	padding-top:1em;
}

#fiveStars .widthConstraint {
	display:grid;
	grid-template-columns:30em auto;
	align-items:center;
}

#fiveStars h2 {
	max-width:30em;
	font:bold 200%/120% arial,helvetica,sans-serif;
	margin:0 1em 0.5em 0;
}

@media (min-width:1px) { /* sneaky trick to target just modern browsers */
	#fiveStars h2 {
		padding-top:3em;
		background:url(images/fiveStarsOpt.png) top center no-repeat;
		background-size:contain;
	}
}

#fiveStars p {
	font:normal 150%/150% arial,helvetica,sans-serif;
}

.featureSection .widthConstraint {
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-column-gap:3em;
	text-align:center;
}

.featureSection h3 {
	padding:1.6em 1em;
	margin-bottom:0.66em;
	font:bold 150%/120% arial,helvetica,sans-serif;
	background:#000;
	color:#FFF;
}

.featureSection h3.twoWords {
	padding:1em;
}

.featureSection p {
	padding:0 1em 1em;
}

#readyToLaunch {
	padding:1em;
	text-align:center;
}

#readyToLaunch .widthConstraint {
	display:grid;
	grid-template-columns:256px auto;
	grid-column-gap:3em;
}

#readyToLaunch .widthConstraint:before {
	content:"";
	float:left;
	width:256px;
	height:100%;
	background:url(images/freeTrial.png) center left no-repeat;
}

#readyToLaunch h2 {
	padding:0.66em 0;
	font:bold 150%/120% arial,helvetica,sans-serif;
}

@media (max-width:68em) {
	.featureSection .widthConstraint {
		grid-column-gap:1em;
	}
	#fiveStars p {
		font-size:125%;
	}
}

@media (max-width:52em) {
	h1,
	#mainMenu {
		float:none;
		text-align:center;
	}
	h2 {
		font-size:200%;
		padding-bottom:0.5em;
	}
	#fiveStars .widthConstraint,
	.featureSection .widthConstraint {
		grid-template-columns:none;
		text-align:center;
	}
	#fiveStars h2 {
		margin:0 auto;
	}
	.featureSection h3 {
		padding:0.8em;
		margin-bottom:0.4em;
		font-size:125%;
	}
	.featureSection h3 br {
		display:none;
	}
	.featureSection div div {
		margin-bottom:1em;
		text-align:left;
	}
	#readyToLaunch .widthConstraint {
		grid-template-columns:none;
	}
	#readyToLaunch .widthConstraint:before {
		display:none;
	}
}

@media (max-width:32em) {
	body {
		font-size:85%;
	}
	h1 {
		font-size:150%;
	}
	#mainMenu a {
		font-size:125%;
	}
	.widthConstraint {
		padding:0;
	}
	.featureSection h3 {
		padding:0.8em 0.4em;
	}
	.featureSection p {
		padding:0 0.5em 1em;
	}
}